# i.MX8MP Debix Model A board defconfig

# Copyright (c) 2021, Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

if BOARD_IMX8MP_DEBIX_MODEL_A

config BOARD
	default "imx8mp_debix_model_a"

if !XIP
config FLASH_SIZE
	default 0
config FLASH_BASE_ADDRESS
	default 0
endif

endif # BOARD_IMX8MP_DEBIX_MODEL_A
