# Kconfig - Pico-Pi iMX7D M4 board
#
# Copyright (c) 2018, Joris Offouga
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_PICO_PI_M4

config BOARD
	default "pico_pi_m4"

if UART_IMX

config UART_IMX_UART_6
	default y

endif # UART_IMX

if I2C_IMX

config I2C_1
	default y

endif # I2C_IMX

if !XIP
config FLASH_SIZE
	default 0
config FLASH_BASE_ADDRESS
	default 0
endif

endif # BOARD_PICO_PI_M4
