# STM32F4DISCOVERY board configuration

# Copyright (c) 2020 Joris Offouga.
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32F4_DISCO_MIKROE

config BOARD
	default "stm32f4_disco_mikroe"

endif # BOARD_STM32F4_DISCO_MIKROE
